* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://source.unsplash.com/1920x1080/?landscape") no-repeat
    
}

.container {
    width: 375px;
    height: 740px;
    background: #F4F4F4;
    border-radius: 15px;
}

header {
    width: 375px;
    height: 66px;
    background-color: #1B83E2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
}

main {
    padding: 24px;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 48px;
    cursor: pointer;
    outline: none;
    /* USADO PARA RETIRAR O SELETOR AZUL QUE APARECE QUANDO CLICADO*/
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 23px;
}

label {
    margin-top: 23px;
}

input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 48px;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 23px;
}

button {
    background-color: #1B83E2;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    color: #F4F4F4;
    border: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #1B83E2;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.converse-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #1B83E2;
}

.arrow {
    height: 50px;
}